.createPostMainDiv {
  background-color: rgb(42, 42, 43);
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  border-radius: 10px;
}

.createPostContentDiv {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 15px;
  color: white;
}

.createPostImg {
  border-radius: 50%;
}

.createPostContentInput {
  margin-left: 10px;
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 25px;
  height: 2.5rem;
  background-color: rgb(59, 59, 59);
  transition-duration: .4s;
}

.createPostContent {
  margin-left: 15px;
  color: rgba(197, 196, 196, 0.5);
  font-size: 1.1rem;
}

.createPostDivider {
  width: 90%;
  border-bottom: 1px solid rgb(63, 62, 62);
}

.createPostAddons {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px 15px;
  margin: -6px 0;
  color: rgb(184, 184, 184);
}

.createAddonDiv {
  height: 75%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 10px;
  border-radius: 10px;
  transition-duration: .4s;
}

.createAddonLabel {
  margin-left: 10px;
}

.videoIcon {
  color: red;
}

.photoIcon {
  color: rgb(0, 128, 58);
}

.guitarIcon {
  color: rgb(255, 230, 0);
}

.createPostContentInput:hover {
  cursor: pointer;
  background-color: rgb(94, 94, 94);
}

.createAddonDiv:hover {
  cursor: pointer;
  background-color: rgba(129, 129, 129, 0.404);
}

@media only screen 
  and (max-width: 840px) {
    .createPostMainDiv {
      width: 95%;
      font-size: .8rem;
    }

    .videoIcon, .photoIcon, .guitarIcon {
      font-size: 1.2rem;
    }

}