.postMainDiv {
  width: 75%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.postCard {
  width: 100%;
  color: white;
  background-color: rgb(42, 42, 43);
  border-radius: 10px;
  margin-bottom: 20px;
}

.postHeaderDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.postHeaderInfoDiv {
  width: 80%;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 15px;
}

.postProfileImg {
  border-radius: 50%;
}

.postProfileImg:hover {
  cursor: pointer;
}

.postHeaderInfo {
  width: 80%;
  height: 60px;  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 15px;
}

.postAuthor:hover {
  cursor: pointer;
  text-decoration: underline;
}

.postData {
  width: 13%;
  margin-top: -15px;
  font-size: .7rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.dataDot {
  font-size: .2rem;
}

.moreIcon {
  margin-right: 15px;
  padding: 10px;
  font-size: .8rem;
  border-radius: 50%;
  transition-duration: .4s;
}

.moreIcon:hover {
  cursor: pointer;
  background-color: rgba(129, 129, 129, 0.404);
}

.postTextDiv {
  margin-top: -10px;
  margin-left: 20px;
}

.postContentDiv {
  position: relative;
  object-fit: cover;  
  width: 100%;
  height: 500px;
  z-index: 1;
}

.reactionsMainDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(172, 171, 171);
}

.reactionCountMainDiv {
  width: 92%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(75, 75, 75);
}

.reactionCount {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.reactionCount:hover {
  cursor: pointer;
  text-decoration: underline;
}

.reactionIconsDiv {
  margin-right: 7px;
  background-color: rgb(0, 132, 255);
  padding: 3px;
  padding-bottom: 5px;
  font-size: .65rem;
  border-radius: 50%;
}

.commentShareCountDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: .9rem;
}

.shareCountText {
  margin-left: 10px;
}
.shareCountText:hover, .commentCountText:hover {
  cursor: pointer;
  text-decoration: underline;
} 

.likeCommentShareDiv {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.reactActionsMain {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 3%;
}

.reactActionDiv, .likeActionDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  width: 33%;
  height: 2rem;
  margin: .5rem 0;
  transition-duration: .4s;
}

.likeActionDivLiked {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(56, 103, 231);
}

.reactActionDiv:hover {
  cursor: pointer;
  background-color: rgba(129, 129, 129, 0.404);
}

.reactActionText {
  margin-left: 10px;
}

.openCommentsSelector {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 10px;
  padding: 5px;
  border-radius: 10px;
  transition-duration: .4s;
}

.openCommentsSelector:hover {
  cursor: pointer;
  background-color: rgba(129, 129, 129, 0.404);
}

.userProfileImg {
  border-radius: 50%;
}

.arrowDownIcon {
  padding-left: 4px;
}

.commentBorderDiv {
  width: 92%;
  border-bottom: 1px solid rgb(75, 75, 75);
}

.commentsMainDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3%;
}

.commentsHeader {
  width: 92%;
  display: flex;
  flex-direction: row;
  padding-bottom: 3%;
}

.commentInput {
  width: 95%;
  border-radius: 20px;
  background-color: rgb(75, 74, 74);
  margin-left: 10px;
  padding-left: 10px;
  color: white;
  outline: none;
}

@media only screen 
  and (max-width: 812px) { 
    .postMainDiv {
      width: 95%;
    }
}