.menuMainDiv {
  width: 100%;
  height: 100vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}

.menuItemDiv {
  width: 95%;
  margin-bottom: .5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 15px;
  padding: 10px
}
.menuItemDiv:hover {
  background-color: rgba(70, 69, 69, 0.61);
}

.menuCardDiv {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menuProfileImg {
  border-radius: 50%;
}

.menuIcon {
  font-size: 2.4rem;
  margin-right: 15px;
  color: rgb(5, 134, 255);
}
.signOutIcon {
  font-size: 3rem;
  margin-right: 15px;
  color: green;
}

.itemDividerDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid rgb(70, 69, 69);
}

.menuItemText {
  margin-top: -5px;
  padding-bottom: 5px;
}

.menuProfileName {
  margin-left: 15px;
  margin-bottom: -.2rem;
}

.menuItemSubText {
  margin-left: 15px;
  font-size: .7rem;
}