.userHomeBody {
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: row;
}

.shortcutWindow {
  width: 25%;
  min-width: 315px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mainContentWindow {
  width: 55%;
  height: 100%;
  display: flex;
  flex-direction: column;
  
}

.contactsWindow {
  width: 20%;
  min-width: 240px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.profileDiv {
  width: 20%;
  max-width: 160px;
  min-width: 155px;
  padding: .1rem .5rem;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.13);
  transition-duration: .4s;
}

.profileDiv:hover {
  cursor: pointer;
  background-color: rgba(27, 27, 27, 0.486);
}

.profileImg {
  border-radius: 50%;
  border: .15rem solid black;
}

.userName {
  margin-left: .6rem;
}

.mainContentWindow::-webkit-scrollbar {
  display: none;
}